[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pipfile = "*"
fsoopify = "*"
pyyaml = "*"
packaging = "*"
prettyprinter = "*"
toml = "*"
poetry = "*"
toposort = "*"
anyioc = "*"

[requires]
python_version = "3.7"
